.modal {
  position: fixed;

  top: 0vh;
  height:800px ;
  /*left: 690px;
  /*width: 30%;
  height: 50%;
  min-height: 10vh;
  display: none;
  justify-content: center;
  align-items: center;*/
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: relative;
  padding: 1rem;
  width: 520px;

  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #757272;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

}